.icon-useful {
    width: 16px;
    height: 16px;
    vertical-align: top;
    margin-right: 5px;
    color: #030d78;
}

.review-list__item {
    padding-left: 20px;
    color: #212b35;
    font-size: 14px;
    font-family: 'SVN-Gilroy Med';
    margin-bottom: 20px;

    .review-list__item__name {
        p {
            display: inline;
            font-family: 'SVN-Gilroy Bold';
            font-weight: 700;
            margin-right: 10px;
        }

        margin-bottom: 12px;
    }

    .review-list__item__content {
        padding-left: 3px;
        margin-bottom: 12px;
    }

    .review-list__item__option {
        padding-left: 3px;
        margin-bottom: 20px;

        .option__feedback {
            background: none;
            border: none;
            color: #030d78;
            font-size: 14px;
            font-family: 'SVN-Gilroy Med';
            cursor: pointer;
        }

        .option__like {
            cursor: pointer;
            background: none;
            border: none;
            color: #030d78;
            font-size: 14px;
            font-family: 'SVN-Gilroy Med';
            margin-left: 10px;
        }
    }

    .review-list__item__image {
        padding-left: 3px;
        display: flex;
        flex-direction: row;

        .image-review-item {
            max-width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
        }

        margin-bottom: 20px;
    }
}

.feedback-box {
    width: 100%;

    .feedback-info {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-bottom: 10px;

        .feedback-input {
            margin: 0;
            background: #fff;
            border: 1px solid #c4cdd5;
            box-sizing: border-box;
            border-radius: 5px;
            height: 42px;
            line-height: 42px;
            padding: 0 13px;
            width: 100%;
            font-family: 'SVN-Gilroy Med';
            outline: none;
        }
    }

    .feedback-input__content {
        // width: 100%;
        margin: 0;
        background: #fff;
        border: 1px solid #c4cdd5;
        box-sizing: border-box;
        border-radius: 5px;
        height: 42px;
        line-height: 42px;
        padding: 0 13px;
        width: 100%;
        font-family: 'SVN-Gilroy Med';
        outline: none;
        margin-bottom: 14px;
    }

    .feedback-button {
        .feedback-button__button {
            border: 1px solid #08f;
            background: #08f;
            box-sizing: border-box;
            border-radius: 3px;
            font-size: 14px;
            color: #fff;
            height: 36px;
            line-height: 36px;
            padding: 0 17px;
            min-width: 90px;
            background-color: #030d78;
            border-color: #030d78;
            cursor: pointer;
        }
    }

}