.category-detail__content__wrapper {
    display: flex;
    flex-direction: row;

    .category-detail__content__filter {
        flex: 1;
        padding-top: 20px;
        // border: 1px solid black;
    }

    .product-list__wrapper {
        // border: 1px solid black;
        flex: 5;
        padding-left: 16px;
    }
}

.product-list__soft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 3;

    .product-list__soft__total {
        color: #7A7A9D;
        font-size: 16px;
        display: inline-block;
        vertical-align: top;
    }

    .product-list__soft__softbar {
        display: inline;

        >span {
            display: inline-block;
            font-size: 16px;
            font-family: 'SVN-Gilroy Med';
            margin-right: 15px;
        }



        .product-list__soft__wrapper {
            display: inline-block;
            position: relative;

            >span {
                display: block;
                height: 48px;
                width: 200px;
                line-height: 46px;
                border: 1px solid #DDE1EF;
                border-radius: 4px;
                font-family: 'SVN-Gilroy Med';
                font-size: 16px;
                padding: 0 15px;
                background: url('https://bizweb.dktcdn.net/100/438/408/themes/931909/assets/down_sort.svg') 200px 15px no-repeat;
            }

            .product-list__soft__list {
                display: none;
                background: #fff;
                border: 1px solid #DDE1EF;
                padding: 0 15px;

                .product-list__soft__item {
                    font-family: 'SVN-Gilroy Med';
                    font-size: 14px;
                    line-height: 40px;
                    cursor: pointer;

                    &:hover {
                        color: #fcaf17;
                        background: url('https://bizweb.dktcdn.net/100/438/408/themes/931909/assets/check.svg') right center no-repeat;
                        background-size: 16px;
                    }

                }

                .active {
                    color: #fcaf17;
                    background: url('https://bizweb.dktcdn.net/100/438/408/themes/931909/assets/check.svg') right center no-repeat;
                    background-size: 16px;
                }
            }
            &:hover .product-list__soft__list {
                display: block;
                position: absolute;
                top: 100%;
                width: 200px;
            }
        }

    }
}


.product-list__content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
    z-index: 2;
    position: relative;

    .product-list-item {
        // border: 1px solid black;
        // max-width: 262px;
    }

    @media (max-width :1600px) {
        grid-template-columns: auto auto auto;
    }

    @media (max-width :1200px) {
        grid-template-columns: auto auto;
    }

}

.category-detail__post {
    background: #F8F8F8;
    padding: 20px 30px;
    position: relative;

    .category-detail__post__box {

        h1 {
            display: none;
        }

        height: 110px;
        overflow: hidden;

        
    }

    .show-all {
        height: initial !important;
        padding-bottom: 10px !important;

    }
    .show-all-button {
        position: absolute;
        text-align: center;
        width: 100%;
        padding: 30px 10px 15px;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(0deg, #f8f8f8 0%, #f8f8f8 45%, rgba(251, 251, 251, 0) 100%);
        cursor: pointer;
        &:hover {
            color: #fcaf17;
        }
    }
}