.filter-items-selected {
    margin-bottom: 18px;

    .filter-items-selected__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 8px;

        span {
            line-height: 24px;
            font-size: 16px;
            font-family: 'SVN-Gilroy Med';
            color: #333;
        }
    }

    .filter-items-selected__list {
        padding-left: 2px;
    }
}

.filter-category-list {
    margin-bottom: 18px;

    .filter-category-list__title {
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
        margin-bottom: 8px;

        p {
            text-align: left;
            line-height: 24px;
            font-size: 16px;
            font-family: 'SVN-Gilroy Med';
            color: #333;
            position: relative;
            width: 100%;

            // &::after {
            //     content: '';
            //     position: absolute;
            //     right: 0;
            //     top: 4px;
            //     width: 16px;
            //     height: 16px;
            //     background: url('https://bizweb.dktcdn.net/100/438/408/themes/931909/assets/down_sort.svg') center;
            //     background-repeat: no-repeat;
            //     background-size: cover;
            //     font-weight: 400;
            //     // transform: rotate(180deg);
            // }
        }
    }

    .filter-category-list__content {
        margin-left: 2px;

        .filter-category-list__item {
            margin-bottom: 8px;
        }

        max-height: 230px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background: #7A7A9D;
            border-radius: 3px;
            &:hover {
            background: #fd9707;
            opacity: 0.5;
                
            }
        }

        &::-webkit-scrollbar-track {
            background: #DDE1EF;
            border-radius: 3px;
        }
    }
}

.filter-price-ranger {
    margin-bottom: 18px;

    .filter-price-ranger__title {
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
        margin-bottom: 8px;

        p {
            text-align: left;
            line-height: 24px;
            font-size: 16px;
            font-family: 'SVN-Gilroy Med';
            color: #333;
            position: relative;
            width: 100%;

            // &::after {
            //     content: '';
            //     position: absolute;
            //     right: 0;
            //     top: 4px;
            //     width: 16px;
            //     height: 16px;
            //     background: url('https://bizweb.dktcdn.net/100/438/408/themes/931909/assets/down_sort.svg') center;
            //     background-repeat: no-repeat;
            //     background-size: cover;
            //     font-weight: 400;
            //     // transform: rotate(180deg);
            // }
        }
    }
    .filter-price-ranger__item {
        label {
            cursor: pointer;
            user-select: none;
            font-family: 'SVN-Gilroy Med';
            font-size: 14px;
            &:hover {
                color: #fd9707;
            }
        }
    }
}