* {
  padding: 0;
  margin: 0;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
  font-family: 'SVN-Gilroy_Regular';
  font-size: 14px;
  background-color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #575756;
  text-decoration: none;
  background: transparent;
}

a:hover {
  color: #fd9707
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: local('Gilroy-Bold'), url(../fonts/Gilroy-Bold.ttf) format('truetype');
}


@font-face {
  font-family: 'Gilroy-Light';
  src: local('Gilroy-Light'), url(../fonts/Gilroy-Regular.ttf) format('truetype');
}


@font-face {
  font-family: 'SVN-Gilroy';
  src: local('SVN-Gilroy'), url(../fonts/SVN-Gilroy.otf) format('truetype');
}

@font-face {
  font-family: 'SVN-Gilroy_Regular';
  src: local('SVN-Gilroy_Regular'), url(../fonts/SVN-Gilroy_Regular.otf) format('truetype');
}

@font-face {
  font-family: 'Gilroy-font';
  src: local('Gilroy-font'), url(../fonts/Gilroy.woff2) format('truetype');
}
@font-face {
  font-family: 'SVN-Gilroy_SemiBold';
  src: local('SVN-Gilroy_SemiBold'), url(../fonts/SVN-Gilroy_SemiBold.otf) format('truetype');
}