* {
  padding: 0;
  margin: 0;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
  font-family: 'SVN-Gilroy';
  font-size: 14px;
  background-color: #fff;
  
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #575756;
  text-decoration: none;
  background: transparent;
}

a:hover {
  color: #fd9707
}

.post-content p, .post-content h2, .post-content h3 {
  margin-bottom: 20px;
}
/* /////////////// */
@font-face {
  font-family: 'SVN-Gilroy Thin';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/svn-gilroy_regular.ttf);
  font-display: 'Swap'
}

@font-face {
  font-family: 'SVN-Gilroy Light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/svn-gilroy_regular.ttf)
}

@font-face {
  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(../fonts/svn-gilroy_medium.ttf)
}

@font-face {
  font-family: 'SVN-Gilroy Med';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(../fonts/svn-gilroy_med.ttf)
}

@font-face {
  font-family: 'SVN-Gilroy Semi';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/svn-gilroy_semibold.ttf)
}

@font-face {
  font-family: 'SVN-Gilroy Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/svn-gilroy_semibold.ttf)
}

/* @font-face {
  font-family: 'SVN-Gilroy';
  font-display: swap;
  src: url(../fonts/svn-gilroy_semibold.ttf);
  font-weight: bold
} */