
.category-detail__banner {
    height: 290px;
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}

.category-detail__title {
    text-align: center;
    color: #fd9707;
    font-family: 'SVN-Gilroy_SemiBold';
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
}